.Plots form select {
  width: 20%;
  padding: 5px 10px;
  margin: 10px 0 40px 0;
  background: var(--dark-1);
}
.Plots input,
.Plots select {
  margin-bottom: 30px;
  width: 90%;
  font-size: 1rem;
  padding: 10px 20px;
  border: var(--border);
  outline: none;
  background: transparent;
  color: var(--light-1);
}
.Plots .submitBtnBox {
  text-align: center;
}
.Plots .submitBtnBox button {
  margin-top: 20px;
}

.Plots .addOrRemoveBtn {
  padding: 5px 10px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 0.9rem;
  cursor: pointer;
}
.Plots .removeBtn {
  background: var(--red);
  height: 42px;
  margin-left: 20px;
}
.Plots .addBtn {
  background: var(--green) !important;
}
