.Plots .addRemBtn {
  width: 100%;
  justify-content: center;
}
.Plots .addRemBtn button {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
}
.Plots .submitBtnBox {
  text-align: center;
}
.Plots .submitBtnBox button {
  margin-top: 20px;
}
.Plots .inputWrapper {
  width: 100%;
}
.Plots .inputWrapper input {
  margin-bottom: 30px;
  width: 100%;
  font-size: 1rem;
  padding: 10px 20px;
  border: var(--border);
  outline: none;
  background: transparent;
  color: var(--light-1);
}
