@import "../../Styles/Variable.scss";
@import "../../Styles/Responsive.scss";

.CreateInvoice {
  .invoiceSection {
    margin-bottom: 20px;
    justify-content: space-between;
    color: $dark-3;
    @include mlg {
      flex-direction: column;
    }
    .title {
      margin-bottom: 15px;
    }
    .logoSec {
      background: $light-1;
      border-radius: 10px;
      justify-content: flex-end;
      padding: 0 20px;
      line-height: 30px;
      font-size: 13px;
      text-align: right;
      .logo {
        width: 70px;
        height: auto;
      }
    }
    .left {
      flex-basis: 65%;
      background: $light-1;
      border-radius: 10px;
      padding: 15px;
      @include mlg {
        width: 100%;
      }
      p {
        font-size: 14px;
        line-height: 1.7rem;
        span {
          margin-right: 20px;
        }
      }
      .firstTop {
        @include md {
          flex-direction: column;
        }
        .left {
          flex-basis: 50%;
        }
        .right {
          flex-basis: 50%;
          flex-direction: column;
          background: $light-1;
          .rightInput {
            width: 100%;
            justify-content: flex-end;
            @include md {
              justify-content: space-between;
            }
            input {
              @include md {
                width: 60%;
              }
            }
          }
          p {
            font-size: 14px;
            line-height: 1.7rem;
            span {
              margin-left: 5px;
            }
          }
        }
      }
      .customerDetails {
        padding: 15px 10px;
        flex-basis: 70%;
        .title {
          font-size: 25px;
        }
        .inputBox {
          margin-bottom: 20px;
          label {
            margin-right: 20px;
          }
          input {
            width: 80%;
          }
        }
      }

      select {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        outline: none;
        border: $border;
        margin-top: 14px;
        color: $dark-3;
        background: transparent;
      }
    }
    .right {
      flex-basis: 35%;
      justify-content: center;
      flex-direction: column;
      background: $light-1;
      border-radius: 10px;
      padding: 15px;
      @include mlg {
        width: 100%;
      }
      &.dateSec {
        flex-basis: 30% !important;
      }
      .button {
        font-size: 17px;
        width: 70%;
        justify-content: center;
        padding: 10px 0;
      }
      select {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        outline: none;
        border: $border;
        margin: 15px 0;
        color: $dark-3;
        background: transparent;
      }
    }
    input,
    textarea {
      border-radius: 5px;
      padding: 10px;
      transition: $trans;
      background: transparent;
      &:focus::placeholder {
        padding-left: 5px;
      }
    }
    textarea {
      resize: vertical;
    }
  }

  .css-1ex1afd-MuiTableCell-root,
  .css-177gid-MuiTableCell-root {
    border: 0;
  }

  table {
    tr {
      font-size: 0.98rem;
      td {
        padding: 8px 0;
        vertical-align: center;
      }
      .tdColon {
        width: 50px;
        text-align: center;
      }
    }
  }

  .bill {
    flex-direction: column !important;
    padding: 20px 30px;
    .title {
      width: 100%;
      text-align: start;
      font-size: 20px;
    }
    div {
      width: 100%;
      justify-content: space-between;
      font-size: 17px;
      input {
        width: 100%;
        border-radius: 5px;
      }
    }
    .total {
      border-top: 2px solid #cecdcd;
      padding: 8px 0;
      font-size: 22px;
    }
  }

  .measurement {
    background: $light-1;
    padding: 20px 30px;
    .title {
      text-align: center;
      margin-bottom: 0;
    }
    .measurmentSelection {
      padding: 20px 0;
      border-bottom: 2px solid $dark-3;
      border-bottom-style: dotted;
      &:last-child {
        border-bottom: none;
      }
      @include sm {
        flex-direction: column;
      }
      .left {
        flex-basis: 50%;
        align-items: start;
        box-shadow: none;
        flex-direction: column;
        padding: 2px 15px;
      }
      .right {
        flex-basis: 50%;
        box-shadow: none;
        flex-direction: column;
      }
      .inputBox {
        width: 100%;
        input {
          width: 100%;
        }
      }
    }
  }
}

.invoiceSection.customImgSection {
  .left {
    flex-basis: 400px;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: $shadow;
  }
  .right {
    flex-basis: 100%;
    box-shadow: $shadow;
    overflow-x: hidden;
  }
}
