@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::selection {
    background: var(--main-clr);
    color: var(--light-1);
}
body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--dark-3);
}
button {
    background: var(--main-clr);
    color: #fff;
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}
input::placeholder {
    transition: var(--trans);
}
input:focus::placeholder {
    padding-left: 10px;
}

/*___ Common classes start ___*/
.d-flex {
    display: flex;
    align-items: center;
}
.c-pointer {
    cursor: pointer;
}
/*___ Common classes start ___*/

/*___ Layout start ___*/
.content-parent {
    /* width: calc(100%- 230px); */
    max-width: 1500px;
    height: 100%;
    min-height: 100vh;
    margin-left: 230px;
    padding: 20px;
    transition: var(--trans);
}

/* It's also need for side nav overlay */
.body-overlay {
    background-color: rgba(8, 8, 8, 0.295);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 98;
}
.body-overlay.active {
    display: block;
}
/*___ Layout end ___*/

/*___ custome scroll bar start ___*/
::-webkit-scrollbar {
    width: 1px;
    height: 2px;
}

::-webkit-scrollbar-track {
    background: var(--dark-2);
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
}
/*___ custome scroll bar end ___*/

/*___ Reveal animation start ___*/
.animated {
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and(max-width:800px) {
    .Form .card {
        width: 80%;
    }
}
/*___ Reveal animation end ___*/

/* Responsive */
@media screen and (max-width: 800px) {
    .container {
        margin-left: 0;
    }
}
