.Dashboard .dashboardTxt {
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-height: 450px;
  overflow: hidden;
}
.Dashboard .dashboardTxt .txt {
  background: linear-gradient(to right, var(--main-color), cyan);
  background-clip: text;
  color: transparent;
  text-align: center;
  line-height: 2.5rem;
}
.Dashboard .dashboardTxt h1 {
  font-size: 3rem;
  margin-bottom: 30px;
  background: -webkit-linear-gradient(var(--main-color), #05a2fd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(-2px 2px var(--light-1));
}
.Dashboard .dashboardTxt h1::selection {
  -webkit-text-fill-color: var(--light-1);
}

/*___ Responsive ___*/
@media screen and (max-width: 460px) {
  .Dashboard .dashboardTxt h1 {
    font-size: 2.3rem;
  }
}
