.login {
  width: 100%;
  justify-content: center;
}

/* .login {
  justify-content: space-between;
}
.login .left {
  width: 40%;
  text-align: justify;
  flex-direction: column;
}
.login .left h1 {
  font-size: 2rem;
  margin-bottom: 15px;
}
.login .right {
  width: 50%;
  justify-content: center;
  flex-direction: column;
} */
