.chatBox .controlPanel {
  box-shadow: var(--cardShadow);
  padding: 20px;
}
.chatBox .controlPanel .sendMsg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.chatBox .controlPanel .inputBox {
  border: var(--border);
  flex: 1;
}
