@import "../../Styles/Variable.scss";

.InvoiceRecipt {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  box-shadow: $shadow;
  background: #fff;
  color: $dark-3;
  padding: 10px 30px;
  .logoSec {
    justify-content: space-between;
    .left {
      img {
        width: 90px;
        height: auto;
      }
    }
    .right {
    }
  }
}
