@import "../../Styles/Variable.scss";
@import "../../Styles/Responsive.scss";

.InvoiceRecipt {
  width: 100%;
  max-width: 1000px;
  margin: 10px auto 20px auto;
  box-shadow: $shadow;
  background: #fff;
  color: $dark-3;
  padding: 10px 40px 30px 40px;
  border-radius: 8px;
  .logoSec {
    justify-content: space-between;
    .left {
      img {
        width: 80px;
        height: auto;
      }
    }
    .right {
      h2 {
        font-weight: 500;
      }
    }
  }
  hr {
    margin-top: -12px;
    border: 0.1rem solid $light-3;
  }
  .title {
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
  }
  .customerDetails {
    .left {
      flex-basis: 70%;
      table {
        td {
          padding: 5px 0;
          vertical-align: top;
          line-height: 20px;
        }
        .tdColon {
          width: 30px;
          padding-left: 10px;
        }
      }
    }
    .right {
      flex-basis: 30%;
      text-align: right;
      p {
        line-height: 30px;
        &:first-child {
          color: $dark-2;
          font-weight: 500;
          font-size: 17px;
        }
      }
    }
  }
  .productDetails {
    .left {
      flex-basis: 30%;
      img {
        width: 100%;
        height: auto;
      }
    }
    .right {
      flex-basis: 70%;
      flex-direction: column;
      .inputBox {
        width: 100%;
        label {
          display: block;
          margin-bottom: 8px;
          font-size: 14px;
        }
        input {
          width: 100%;
        }
      }
    }
  }

  .summery {
    justify-content: space-between;
    margin-top: 50px;
    line-height: 30px;
    .left {
      flex-basis: 50%;
    }
    .right {
      flex-basis: 50%;
      div {
        justify-content: flex-end;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }

  // .measurement {
  //   margin-top: 40px;
  //   background: $light-1;
  //   .title {
  //     text-align: center;
  //     font-size: 16px;
  //   }
  // .measurmentSelection {
  //   @include sm {
  //     flex-direction: column;
  //   }
  //   .left {
  //     flex-basis: 50%;
  //     align-items: start;
  //     box-shadow: none;
  //     flex-direction: column;
  //   }
  //   .right {
  //     flex-basis: 50%;
  //     box-shadow: none;
  //     flex-direction: column;
  //   }
  //   .inputBox {
  //     width: 100%;
  //     label {
  //       margin-bottom: 8px;
  //       display: inline-block;
  //       font-size: 14px;
  //     }
  //     input {
  //       width: 100%;
  //     }
  //   }
  // }
  //   }
}

.printBtnBox {
  padding: 20px 100px 0 0;
  text-align: right;
  .printBtn {
    font-size: 25px;
    background: none;
    color: $dark-3;
    cursor: pointer;
  }
}
