@import "../../Styles/Variable.scss";

@import "../../Styles/DataTable.css";

.PendingOrder {
  box-shadow: $shadow;
  background: $light-1;
  padding: 20px;
  .button {
    padding: 5px;
    font-size: 13px;
    a {
      color: $light-1;
    }
  }
}
