/*** Input field for search***/
.searchInput {
  width: 250px;
  text-align: right;
  margin-top: 20px;
}
.searchInput input {
  font-size: 16px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 0;
  outline: 0;
  border-radius: 0 !important;
  color: var(--dark-2);
  background: transparent;
  border-bottom: var(--table-border);
  transition: var(--trans);
}

/*** Table header***/
.hudJpJ,
.chYGqH {
  border-bottom: 2px solid var(--dark-2);
  text-transform: capitalize;
  background: var(--main-clr) !important;
  color: var(--light-1);
  font-size: 1rem !important;
}
.caNzNe {
  border: 2px solid var(--main-clr);
}
.bzEluS,
.kKsnEW {
  justify-content: center !important;
  font-size: 1rem !important;
}
/*** Table Container ***/
.kQSTYI,
.iGxMlw,
.ddClyB {
  font-size: 0.95rem !important;
}
.dknajr,
.htmdXE,
.kBMVWz {
  border: var(--table-border) !important;
}
/* .dknajr,
.htmdXE,
.kBMVWz,
.dLHSn {
  border: var(--table-border) !important;
} */
.hXGOzQ:not(:last-of-type) {
  border-bottom: var(--table-border) !important;
}
.dLHSn,
.ddClyB {
  justify-content: center !important;
}
/*** pagination bar ***/
.hDPlLz,
.cNURWT {
  border: var(--table-border) !important;
}
.kfEVfC {
  position: absolute;
  top: 219px;
  right: 80px;
}
.bpcekY {
  position: absolute !important;
  top: 215px;
  right: 20px;
  border: var(--table-border);
  border-radius: 5px;
}
.users .kfEVfC {
  position: absolute;
  top: 163px;
  right: 80px;
}
.users .bpcekY {
  position: absolute !important;
  top: 161px;
  right: 20px;
  border: var(--table-border);
  border-radius: 5px;
}

/*___ Responsive ___*/
@media screen and (max-width: 610px) {
  .searchInput {
    margin-bottom: 40px;
  }
  .kfEVfC {
    top: 253px;
  }
  .bpcekY {
    top: 250px;
    width: 10%;
  }
}
