@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--dark-3);
}
::selection {
  background: var(--main-clr);
  color: var(--light-1);
}
input {
  border: none;
  outline: none;
  padding: 5px 10px;
  width: 100%;
  color: var(--dark-3);
  background: transparent;
}
input::placeholder {
  transition: var(--trans);
}
input:focus::placeholder {
  padding-left: 10px;
}
[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  border-radius: 8px;
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(1px + var(--tw-ring-offset-width)) #e3dfdf;
}

/*___ Common classes start ___*/
.d-flex {
  display: flex;
  align-items: center;
}
.d-none {
  display: none;
}
.c-pointer {
  cursor: pointer;
}
.button {
  background: var(--main-clr);
  color: #fff;
  font-size: 1rem;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}
/*___ Common classes end ___*/

/*___ Layout start ___*/
.content_parent {
  height: 100%;
  min-height: 100vh;
  margin-left: 245px;
  padding: 20px;
  margin-bottom: 100px;
  transition: var(--trans);
}
.content {
  max-width: 2000px;
  margin: 0 auto;
}
.page-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 30px;
}

/*___ It's also need for side nav overlay ___*/
.body-overlay {
  background-color: rgba(8, 8, 8, 0.295);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 98;
}
.body-overlay.active {
  display: block;
}
/*___ Layout end ___*/

/*___ custome scroll bar start ___*/
::-webkit-scrollbar {
  width: 1px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: var(--dark-2);
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
}
/*___ custome scroll bar end ___*/

/*___ Reveal animation start ___*/
.animated {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*___ Reveal animation end ___*/

/*___ Responsive ___*/
@media screen and (max-width: 950px) {
  .content_parent {
    margin-left: 0;
  }
}
@media screen and(max-width:800px) {
  .Form .card {
    width: 80%;
  }
}
