.css-15nnif {
  background: #222222 !important;
  padding: 10px 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.css-sox5kk-MuiBackdrop-root {
  background: #0e0e0e;
  opacity: 0.8 !important;
}
.modalCloseBtn {
  text-align: right;
}
.modalCloseBtn span {
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}
.modalContent {
  padding: 0 20px 20px 20px;
}
.modalTitle {
  margin-bottom: 20px;
  font-size: 18px;
  text-transform: capitalize;
  color: #fff;
}
form {
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}
form label {
  color: #dddddd;
  display: inline-block;
  margin-top: 15px;
  font-size: 14px;
}
form .inputBox {
  border: 1px solid #7d7d7d;
  width: 100%;
  padding: 5px 15px;
  margin: 8px 0;
  border-radius: 8px;
}
form .inputBox input {
  border: none;
  outline: none;
  color: #fff;
  background: transparent;
  border-radius: 8px;
  font-size: 17px;
  width: 100%;
}
form .inputBox input:focus::placeholder {
  padding-left: 10px;
}
form .inputBox input .showHide {
  cursor: pointer;
}
form button {
  padding: 10px 30px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 16px;
  display: inline-block;
}
button.hover {
  background: #7d7d7d;
}
.form-bottom {
  width: 100%;
  justify-content: flex-end;
  margin-top: 20px;
}
.form-bottom a {
  font-size: 14px;
  transition: 0.3s all ease;
  color: #f8f9fa;
}
.form-bottom a.hover {
  color: #fd5203;
}
.form-bottom span {
  margin: 0 10px;
  color: #f8f9fa;
}

@media screen and (max-width: 650px) {
  .css-15nnif {
    width: 90% !important;
  }
}
