.Cards .title {
  color: var(--dark-2);
}
.Cards .d-flex {
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.Cards .card {
  flex-basis: 15%;
  height: 300px;
  margin-top: 20px;
  overflow: hidden;
  background: var(--light-1);
  box-shadow: var(--cardShadow);
  /* @include lg {
    flex-basis: 20%;
  }
  @include md {
    flex-basis: 25%;
  } */
}
.Cards .card .img {
  width: 100%;
  height: 150px;
  overflow: hidden;
}
.Cards .card img {
  width: 100%;
  height: 100%;
  transition: var(--trans);
}
.Cards .card:hover img {
  transform: scale(1.2);
}
.Cards .card .texts {
  padding: 10px 5px 8px 5px;
  color: var(--dark-2);
}
.Cards .card .cardTitle {
  font-weight: 500;
  margin-bottom: 8px;
}
.Cards .card .price {
  font-size: 20px;
  color: var(--btn-color);
}
.Cards .card .discount {
  gap: 15px;
  margin-top: 5px;
  font-size: 13px;
}
.Cards .card .ratting {
  margin-top: 8px;
}

.loadMore {
  text-align: center;
  margin-top: 50px;
}
.loadMore button {
  border: 1px solid #fb8951;
  outline: 0;
  background: transparent;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: var(--trans);
}
.loadMore button:hover {
  background: var(--main-color);
  color: var(--light-1);
}
