.slider-container img {
  width: 100%;
  height: 100%;
}
.slick-dots {
  position: absolute;
  bottom: 25px;
}
.slick-dots li button::before {
  font-size: 12px;
}
.slick-dots li button:hover::before {
  color: #a8a7a7;
}
.slick-dots.slick-active button:before {
  color: #fff;
}
