@import "../../Styles/Variable.scss";
@import "../../Styles/Responsive.scss";

.Header {
  background: $light-1;
  width: 100%;
  height: 80px;
  box-shadow: $shadow;
  position: fixed;
  top: 0;
  z-index: 998;
  .container {
    justify-content: space-between;
    padding: 0;
    position: relative;
    @include slg {
    }
    &.active {
      .menus {
        right: -38px;
      }
    }
    .left {
      img {
        width: 90px;
        height: auto;
      }
      @include slg {
        display: flex;
        justify-content: space-between;
      }
    }

    .menus {
      transition: $trans;
      li {
        a {
          font-size: 1rem;
          text-transform: capitalize;
          color: $dark-3;
          font-weight: 600;
          transition: $trans;
          position: relative;
          &:hover,
          &.isActive {
            color: $main-color;
          }
        }
        a::before {
          content: "";
          width: 0;
          height: 3px;
          background: $main-color;
          transition: $trans;
          position: absolute;
          bottom: -4px;
          left: 50%;
          transform: translate(-50%, 0);
        }
        a.isActive::before,
        a:hover::before {
          width: 100%;
          color: $main-color;
        }
        .logout {
          font-size: 1rem;
          text-transform: capitalize;
          font-weight: 600;
          padding: 5px 10px;
        }
      }
      @include slg {
        flex-direction: column;
        background: $light-1;
        box-shadow: $shadow;
        width: 250px;
        height: 100vh;
        overflow-y: scroll;
        padding: 20px 0;
        position: absolute;
        right: -300px;
        top: 102%;
      }
    }

    .toggler {
      font-size: 30px;
      display: none;
      color: $dark-3;
      @include slg {
        display: block;
      }
    }
  }
}
