@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  background: var(--main-color);
  color: var(--light-1);
}
::placeholder {
  color: var(--light-3);
}
body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

.main {
  color: var(--dark-2);
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container,
.headerContainer,
.footerContainer {
  width: 90%;
  height: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
.container {
  margin: 110px auto 100px auto;
}
.content {
  margin-bottom: 50px;
}
.color {
  color: red;
}
a {
  text-decoration: none;
  color: var(--light-blue);
  transition: var(--trans);
}
a:hover {
  color: var(--blue);
}
li {
  list-style: none;
}
.button {
  background: var(--light-blue);
  color: var(--light-1);
  border: 0;
  outline: 0;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: var(--trans);
}
.button:hover {
  background: var(--blue);
  color: var(--light-1);
}
.cursor {
  cursor: pointer;
}

/* Additional */
.active {
  color: aqua;
}
.d-flex {
  display: flex;
  align-items: center;
}
.d-none {
  display: none;
}
.angle {
  transition: var(--trans);
}
.angleRotate {
  transition: var(--trans);
  transform: rotate(-180deg);
}
.gap-10 {
  gap: 10px;
}
.gap-20 {
  gap: 20px;
}
.flex-start {
  align-items: flex-start;
}

/* Colors */
.blue {
  background: var(--blue);
}
.red {
  background: var(--red);
}

/*________________ custome scroll bar start ________________*/
::-webkit-scrollbar {
  width: 1px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: var(--dark-2);
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
}
/*________________ custome scroll bar end ________________*/
