.Home .grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.Home .left,
.right {
  border-radius: 8px;
  border: var(--border);
  overflow: hidden;
  height: 362px;
}
.Home .left {
  flex-basis: 20%;
}
.Home .categories li {
  padding: 8px 20px;
  cursor: pointer;
  transition: var(--trans);
}
.Home .categories li span {
  font-size: 14px;
}
.Home .categories li:hover {
  background: var(--main-color-light);
}
.Home .categories li:hover span {
  color: var(--main-color);
}

.Home .right {
  flex-basis: 80%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.Home .right img {
  height: 362px;
}
