.Header {
  background: var(--dark-2);
  box-shadow: var(--shadow);
  padding: 10px 20px;
  margin-bottom: 20px;
  justify-content: space-between;
  z-index: 999;
  /* position: sticky;
  top: 0; */
}
.Header .profile {
  width: 179px;
  font-weight: 500;
}
.Header .profile img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.Header .profile .arrow {
  transform: rotate(90deg);
  margin-top: 3px;
  transition: var(--trans);
}
.Header .profile .arrow.fliped {
  transform: rotate(-90deg);
}

.Header .dorwpDownParent {
  position: relative;
}
.Header .dorpdown {
  background: var(--dark-2);
  box-shadow: var(--shadow);
  width: 100%;
  height: auto;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transition: var(--trans);
  top: 47px;
  right: 0;
  z-index: 998;
}
.Header .dorpdown .dropdownTitle {
  color: var(--light-2);
  padding: 5px 20px;
  border-bottom: 1px solid var(--light-3);
}
.Header .dorpdown li a {
  width: 100%;
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.Header .dorpdown li a:hover {
  background: var(--dark-1);
}
.Header .dorpdown.show {
  opacity: 1;
  visibility: visible;
}

.notification .dorpdown,
.message .dorpdown {
  width: 300px;
}
.notification .dorpdown li,
.message .dorpdown li {
  padding: 10px 20px;
}
.notification .dorpdown li:hover,
.message .dorpdown li:hover {
  background: var(--dark-1);
}
.notification .dorpdown li .msgUserPic,
.message .dorpdown li .msgUserPic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.notification .dorpdown li .description,
.message .dorpdown li .description {
  margin: 7px 0;
  font-size: 0.9rem;
}
