@import "../../Styles/Variable.scss";

@import "../../Styles/CssVar.css";
@import "../../Styles/DataTable.css";

.Home {
  box-shadow: $shadow;
  background: $light-1;
  padding: 20px;
  .homeTop {
    padding: 0 20px;
    .title {
      text-align: center;
    }
  }
  .button {
    font-weight: 500;
    padding: 8px 10px;
    &.add {
      background: #069306;
    }
    &.deduct {
      background: #6b6bf9;
    }
    &.price {
      background: #f4703c;
    }
  }
}
