@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common style */
::selection {
  background: var(--main-color);
  color: #fff;
}
::placeholder {
  color: var(--light-2);
  transition: var(--trans);
}
input:focus::placeholder,
textarea:focus::placeholder {
  padding-left: 10px;
}

body {
  font-family: "Rubik", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--light-1);
}
.btn {
  border: none;
  outline: none;
  background: var(--main-color);
  color: #ffffff;
  border: 1px solid var(--main-color);
  font-size: 1.1rem;
  padding: 5px 15px;
  border-radius: 5px;
  transition: var(--trans);
  cursor: pointer;
}
.btn:hover {
  background: transparent;
  border: var(--border);
  color: var(--light-1);
}

.d-none {
  display: none;
}
.d-flex {
  display: flex;
  align-items: center;
}
.d-flex-start {
  display: flex;
  align-items: start;
}
.gap-10 {
  gap: 10px;
}
.gap-20 {
  gap: 20px;
}
.gap-30 {
  gap: 30px;
}
.c_pointer {
  cursor: pointer;
}
.pageTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 30px;
  width: max-content;
  position: relative;
}
.pageTitle::after {
  content: "";
  width: 100%;
  height: 3px;
  background: var(--main-color);
  position: absolute;
  left: 0;
  bottom: -10px;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--overlay);
  opacity: 0;
  transition: var(--trans);
  z-index: 98;
}

/*___ Admin Layout ___*/
.main {
  background: var(--dark-2);
  color: var(--light-1);
  transition: var(--trans);
}
.container {
  padding-left: 230px;
  width: auto;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  transition: var(--trans);
}
.content {
  padding: 0 20px 50px 20px;
  width: 100%;
  max-width: 1800px;
  margin: 80px auto 0 auto;
}
.container.large {
  padding-left: 0;
}
