/*** Input field for search***/
.searchInput {
  text-align: right;
  margin-top: 20px;
}
.searchInput input {
  font-size: 16px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 0;
  outline: 0;
  color: var(--dark-2);
  background: transparent;
  border: var(--border);
}
.searchInput input:focus::placeholder {
  padding-left: 10px;
  transition: var(--trans);
}

/*** Table header***/
.sc-elDIKY {
  background: #000216 !important;
  color: var(--light-2) !important;
  font-size: 1.2rem;
}

/*** Table body ***/
.iqMrkF::-webkit-scrollbar {
  height: 5px;
}
.gRfwAR {
  background: var(--dark-1) !important;
  color: var(--light-1) !important;
}
.gRfwAR:hover {
  outline: none !important;
  background: var(--dark-2) !important;
}
.gRfwAR:not(:last-of-type) {
  border-bottom: var(--border) !important;
}
.dKhQoE {
  font-size: 1rem;
}

/*** pagination bar ***/
.cgTKyH {
  background: var(--dark-1) !important;
  color: var(--light-2) !important;
}
.esggSK {
  fill: var(--light-2) !important;
}
.esggSK:disabled {
  fill: var(--light-3) !important;
}
.fxNobI {
  /* background: var(--light-1) !important; */
}
