@import url("./Var.css");

/*** Input field for search***/
.searchInput {
  text-align: right;
  margin-top: 20px;
}
.searchInput input {
  font-size: 16px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 0;
  outline: 0;
  color: var(--light-1);
  background: transparent;
  border: var(--border);
}
.searchInput input:focus::placeholder {
  padding-left: 10px;
  transition: var(--trans);
}

/*** Table header***/
.sc-elDIKY {
  background: #0a0a0a !important;
  color: #fff !important;
  font-size: 1.2rem;
}

/*** Table body ***/
.iqMrkF::-webkit-scrollbar,
.sc-eEPDDI::-webkit-scrollbar {
  height: 5px;
}
.gRfwAR,
.bRWgBd {
  background: var(--dark-1) !important;
  color: var(--light-1) !important;
  font-size: 1rem;
}
.gRfwAR:hover,
.bRWgBd:hover {
  outline: none !important;
  background: var(--dark-2) !important;
  color: var(--light-1) !important;
}
.gRfwAR:not(:last-of-type),
.bRWgBd:not(:last-of-type) {
  border-bottom: var(--border) !important;
}
.dKhQoE,
.esXiMy,
.esXiMy {
  font-size: 1rem;
}

.gpwTNy {
  background: var(--dark-1) !important;
  color: var(--light-1) !important;
}

/*** pagination bar ***/
.cgTKyH,
.jdPBzn {
  background: var(--dark-1) !important;
  color: var(--light-2) !important;
}
.esggSK,
.hfNZka {
  fill: var(--light-2) !important;
  color: var(--light-2) !important;
}
.esggSK:disabled,
.hfNZka:disabled {
  fill: var(--light-3) !important;
  color: var(--light-2) !important;
}
