.jodit-container:not(.jodit_inline) .jodit-workplace {
  min-height: 250px !important;
}
.jodit-toolbar__box:not(:empty):not(:empty),
.jodit-status-bar {
  background: var(--dark-1) !important;
  color: var(--light-1) !important;
  border-color: var(--dark-3) !important;
}
.jodit .jodit-workplace .jodit-wysiwyg,
.jodit .jodit-workplace .jodit-wysiwyg_iframe,
.jodit-container .jodit-workplace .jodit-wysiwyg,
.jodit-container .jodit-workplace .jodit-wysiwyg_iframe {
  min-height: 250px !important;
  background: var(--dark-1) !important;
  color: var(--light-1) !important;
}
.jodit-container:not(.jodit_inline) {
  border: 1px solid var(--dark-3) !important;
  background: var(--dark-1) !important;
}
.jodit-status-bar a.jodit-status-bar-link {
  display: none !important;
}

/* .jodit-toolbar-editor-collection_size_middle.jodit-toolbar-editor-collection_mode_horizontal {repeating-linear-gradient(transparent 0,transparent calc(calc(14px + calc((14px - 4px)*2) + 2px*2) - 1px),#dadada calc(14px + calc((14px - 4px)*2) + 2px*2))} */
