:root {
  --light-1: #e0dddd;
  --light-2: #aaa7a7;
  --light-3: #7c7c7c;

  --dark-1: #1f1f1f;
  --dark-2: #303030;
  --dark-3: #686868;

  /* --main-color: rgb(255, 115, 0); */
  --main-color: rgb(126 130 251);
  --dark-blue: #01021d;
  --green: #11b802;
  --red: #fb3a3a;
  --yellow: #d3ad04;
  --orange: #f37a38;
  --dim-light: #464545;

  --overlay: #1f1f1fb3;
  --card-overlay: #1f1f1f78;

  --border: 1px solid var(--light-2);
  --shadow: 1px 1px 10px #0b0b0b;
  --trans: 0.5s ease all;
}

.main.light {
  --light-1: #6a6969;
  --light-2: #303030;
  --light-3: #7c7c7c;

  --dark-1: #e7e5e5;
  --dark-2: #ffffff;
  --dark-3: #d1d1d1;

  /* --main-color: rgb(255, 115, 0); */
  --main-color: rgb(126 130 251);
  --dark-blue: #01021d;
  --dim-light: #c4c0c0;

  --border: 1px solid #c8c5c5;
  --shadow: 1px 1px 10px #bfbcbc;
}
