@import "../../Styles/Variable.scss";

.User {
  background: $light-1;
  padding: 15px;
  .title {
    margin-bottom: 20px;
  }
  .addBtn {
    text-align: end;
    button {
      // padding: 8px 20px;
      // font-size: 17px;
    }
  }
}
