.Home.page {
  margin-top: 53px;
}
.Home .homeImg {
  width: 100%;
  /* max-width: 2500px; */
  min-height: 500px;
  justify-content: center;
  position: relative;
}
.Home .homeImg .bannerImg {
  width: 100%;
}
.Home .homeImg .lazy-load-image-background {
  width: 100%;
}
.Home .overlay {
  background: #0000008c;
  opacity: 1;
  z-index: 1;
}
.Home .homeImg .txt {
  color: var(--light-1);
  font-weight: 500;
  width: 60%;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 2;
}
.Home .homeImg .txt h1 {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
}
/* .Home .txt h2 {
  font-size: 2rem;
}
.Home .txt h2 span {
  letter-spacing: 0.8rem;
} */
.Home .homeImg .txt p {
  line-height: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.03rem;
  font-size: 1.2rem;
}

.Home .ourMisionVision {
  flex-direction: column;
}
.Home .ourMisionVision .card {
  width: 80%;
  max-height: 150px;
  justify-content: center;
  flex-direction: column;
  padding: 80px 0;
  background: #fffce0;
  color: var(--dark-2);
  border-radius: 0;
  cursor: pointer;
  transition: var(--trans);
}
.Home .ourMisionVision .card:hover {
  transform: translateY(-10px);
}
.Home .ourMisionVision .card .icon {
  border: var(--border);
  border-radius: 50%;
  padding: 20px;
}

@media screen and (max-width: 475px) {
  .Home .homeImg .txt h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .Home .homeImg .txt p {
    font-size: 1rem;
    line-height: 1.8rem;
  }
}
@media screen and (max-width: 450px) {
  .Home.page {
    margin-top: 49px;
  }
  .Home .ourMisionVision .card {
    width: 90%;
  }
}
@media screen and (max-width: 325px) {
  .Home .homeImg .txt h1 {
    font-size: 1.8rem;
  }
  .Home .homeImg .txt p {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
}
@media screen and (max-width: 295px) {
  .Home .homeImg .txt h1 {
    font-size: 1.3rem;
  }
}
