.link {
  text-decoration: none;
  color: var(--dark-3);
  transition: var(--trans);
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  font-weight: 500;
}
.link .link_title {
  margin-left: 7px;
}
.link .right-icon {
  transition: var(--trans);
}
.link.active .right-icon {
  transform: rotate(180deg);
}
.link:hover,
.link.active {
  color: var(--main-clr);
  background: var(--link-hover);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
