.Notify .dorwpDownParent {
  position: relative;
}
.Notify .dorpdown {
  background: var(--dark-2);
  box-shadow: var(--shadow);
  width: 100%;
  height: auto;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transition: var(--trans);
  top: 47px;
  right: 0;
  z-index: 998;
}
.Notify .dorpdown .dropdownTitle {
  color: var(--light-2);
  padding: 5px 20px;
  border-bottom: 1px solid var(--light-3);
  position: sticky;
  top: 0;
  background: var(--dark-2);
  transition: var(--trans);
}
.Notify .dorpdown li a:hover {
  background: var(--dark-1);
}
.Notify .dorpdown.show {
  opacity: 1;
  visibility: visible;
}

.Notify .notification .dorpdown {
  width: 300px;
  height: auto;
  max-height: 300px;
  top: 42px;
  overflow-y: scroll;
}
.Notify .notification .dorpdown::-webkit-scrollbar {
  display: none;
}
.Notify .notification .dorpdown a {
  width: 100%;
  display: inline-block;
  padding: 12px 20px 2px 20px;
  border-bottom: 0.1px solid var(--light-3);
  transition: var(--trans);
}
.Notify .notification .dorpdown a:last-child {
  border-bottom: none;
}
.Notify .notification .dorpdown a .msgUserPic,
.Notify .message .dorpdown a .msgUserPic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.Notify .notification .dorpdown a .notifyName {
  color: var(--orange);
  margin-bottom: 8px;
  font-weight: 400;
}
.Notify .dorpdown a .notifyTitle {
  font-weight: 400;
}
.Notify .dorpdown a .notifyTime {
  margin: 7px 0;
  font-size: 0.9rem;
  font-weight: 400;
}

.Notify a.unRead {
  background: var(--dim-light);
}
.Notify a.unRead .notifyName,
.Notify a.unRead .notifyTitle,
.Notify a.unRead .notifyTime {
  font-weight: bold;
}
