.AddProject .formTop {
  justify-content: center;
  flex-direction: column;
}
.AddProject .formTop .inputWrapper {
  width: 100%;
}
.AddProject .formTop .inputWrapper label {
  margin-bottom: 10px;
  display: inline-block;
}
.AddProject .inputWrapper input,
.AddProject .inputWrapper textarea,
.AddProject .formTop select {
  width: 100%;
  font-size: 1rem;
  padding: 10px 20px;
  border: var(--border);
  outline: none;
  background: transparent;
  color: var(--light-1);
  resize: vertical;
}
.AddProject .inputWrapper input[type="file"] {
  background-color: var(--light-1);
  padding: 5px;
  border: none;
  width: 50%;
}
.AddProject .formTop select {
  color: var(--light-2);
}
.AddProject .formTop select option {
  background: var(--dark-2);
  color: var(--light-1);
}
