.Credits .credits-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.Credits .item {
  flex-direction: column;
  margin: 20px 0;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--light-3);
}
.Credits .item:last-child {
  border-bottom: none;
}
.Credits .item img {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 50%;
  object-fit: cover;
}
.Credits .item .name {
  margin-bottom: 10px;
}
.Credits .item p {
  line-height: 1.5rem;
}
