header {
  box-shadow: var(--shadow);
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
header .header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header ul li a:hover {
  color: var(--main-color);
}
