* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

.load-more {
  text-align: center;
  margin: 50px 0;
}
.load-more button {
  background: #024a40;
  color: #fff;
  font-size: 1.2rem;
  padding: 8px 50px;
  cursor: pointer;
}

nav ul {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.3rem;
  background: #024a40;
  padding: 0.8rem;
}
nav ul li a {
  color: #fff;
}
