.css-15nnif {
  background: #222222 !important;
  padding: 20px !important;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}
.css-15nnif::-webkit-scrollbar {
  display: none;
}
.css-sox5kk-MuiBackdrop-root {
  background: var(--overlay) !important;
  opacity: 1 !important;
}
.addBtn {
  box-shadow: var(--shadow);
}
.modalCloseBtn {
  text-align: right;
}
.modalCloseBtn span {
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}
.modalContent {
  padding: 0 20px 20px 20px;
}
.modalTitle {
  margin-bottom: 20px;
  font-size: 18px;
  text-transform: capitalize;
  color: #fff;
}
form {
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}
form label {
  color: #dddddd;
  display: inline-block;
  margin: 25px 0 8px 0;
  font-size: 14px;
}
form .inputBox,
form select {
  border: 1px solid #7d7d7d;
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
}
form .inputBox input {
  border: none;
  outline: none;
  color: #fff;
  background: transparent;
  font-size: 1rem;
  width: 100%;
}
form .inputBox input:focus::placeholder {
  padding-left: 10px;
}
form select {
  background: var(--dark-1);
  color: var(--light-1);
  font-size: 1rem;
  /* margin-top: 25px; */
  width: 100%;
  outline: none;
}
form .inputBox input .showHide {
  cursor: pointer;
}
form .button {
  padding: 10px 30px;
  margin-top: 40px;
  font-weight: 700;
  font-size: 16px;
  display: inline-block;
  /* background: transparent; */
  background: var(--light-1);
  border: 1px solid var(--light-1);
  outline: none;
  text-transform: capitalize;
}
form .button:hover {
  background: transparent;
  color: var(--light-1);
}
.form-bottom {
  width: 100%;
  justify-content: flex-end;
  margin-top: 20px;
}
.form-bottom a {
  font-size: 14px;
  transition: 0.3s all ease;
  color: #f8f9fa;
}
.form-bottom a.hover {
  color: #fd5203;
}
.form-bottom span {
  margin: 0 10px;
  color: #f8f9fa;
}

@media screen and (max-width: 650px) {
  .css-15nnif {
    width: 90% !important;
  }
}
