:root {
  --light-1: #fff;
  --light-2: #f5f4f4;
  --light-3: #d6d4d4;

  --dark-1: #212121;
  --dark-2: #2c2b2b;
  --dark-3: #616161;

  /* --main-clr: #fa8d26; */
  --main-clr: #3b5898;
  --dark-blue: #181d23;

  --orange: #f48726;
  --red: #fd1010;
  --green: #2baf03;
  --light-purple: #8805fc;

  --trans: 0.3s all ease;
  --shadow: 2px 2px 5px var(--dark-blue), -2px -2px 5px var(--dark-blue);
  --border: 1px solid #d6d6d6;
}

/* @media (prefers-color-scheme: dark) {} */
