.ToDo_App {
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
.ToDo_App .todoBox {
  background: #fff;
  color: #7c7c7c;
  box-shadow: 1px 1px 10px #7c7b7b;
  border-radius: 10px;
  padding: 20px;
  width: 30%;
  height: 100%;
  min-height: 400px;
}
.ToDo_App .todoBox .todoIcon {
  width: 25px;
  height: 25px;
}
.ToDo_App .todoBox .toDoTitle {
  font-size: 20px;
  font-weight: 500;
}
.ToDo_App .todoBox .addTask {
  background: #dddddd;
  border-radius: 50px;
  margin: 15px 0 25px 0;
}
.ToDo_App .todoBox .addTask input {
  width: 80%;
  background: transparent;
  border: none;
  outline: none;
  padding: 8px 15px;
  height: 40px;
  font-size: 16px;
  border-radius: 50px;
}
.ToDo_App .todoBox .addTask button {
  background: #f37a38;
  color: #fff;
  border: none;
  outline: none;
  padding: 0;
  width: 80px;
  height: 40px;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
}

.ToDo_Items {
  margin-bottom: 15px;
}
.ToDo_Items .toDoOnlyOneItems {
  flex: 1;
}
.ToDo_Items .toDoOnlyOneItems img {
  width: 20px;
  height: 20px;
}
.ToDo_Items .deleteIcon {
  width: 15px;
  height: auto;
}
.ToDo_Items .line-throw {
  text-decoration: line-through;
}
