@import "../../Styles/Variable.scss";

@import "../../Styles/CssVar.css";
@import "../../Styles/DataTable.css";

.Home {
  box-shadow: $shadow;
  background: $light-1;
  padding: 20px;
  .homeTop {
    padding: 0 20px;
    .title {
      text-align: center;
    }
  }
}
